body {
    font-family: 'Noto Sans JP', sans-serif;
    font-feature-settings: "palt";
  }
h1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-feature-settings: "palt";
}
.list ul li .title {
  font-family: 'Noto Sans JP', sans-serif;
  font-feature-settings: "palt";
}